/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
/* 



/*==================== QUALIFICATION ====================*/
.qualification__tabs{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-2)
}

.qualification__button{
  font-size:var(--h3-font-size);
  font-weight: var(--font-medium);
  cursor: default;
}

/* .qualification__button:hover{
  color:var(--first-color)
} */

.qualification__icon{
  font-size: 1.8rem;
  margin-right: var(--mb-0-25)
}


.qualification__title{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.watch__icon{
  color: var(--first-color);
  font-size: 16px;
}

.qualification__subtitle{
  display: inline-block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-1);
}

.qualification__subtitle a{
  color: var(--body-font);
}

.qualification__calendar{
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.qualification__rounder{
  display:inline-block;
  width: 13px;
  height: 13px;
  background-color: var(--first-color);
  border-radius:50%;
}

.qualification__line{
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--first-color);
  transform: translate(6px, -7px);
}

.qualification [data-content]{
  display: none;
}

.qualification__active[data-content]{
  display: block;
}

.qualification__button.qualification__active{
  color: var(--first-color)
}

/*==================== CONTACT ME ====================*/
.contact__information{
    display: flex;
    margin-bottom: var(--mb-2);
    flex-direction: column;
}

.contact__icon{
  font-size: 2rem;
  color: var(--first-color);
  margin-right: var(--mb-0-75);
}

.contact__title{
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}

.contact__subtitle{
  font-weight: 800;
  font-size: var(--small-font-size);
  color:var(--text-color-light);
}

.contact__content{
  background-color: var(--input-color);
  border-radius: .5rem;
  padding: .75rem 1rem .25rem;
}

.contact__label{
  font-size: var(--smaller-font-size);
  color: var(--title-color);
}

.contact__input{
  width: 100%;
  background-color: white;
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  border:none;
  outline:none;
  padding: .25rem .5rem .5rem 0;
}

.input__success{
  border: 0px;
}

.input__error{
  border-bottom: 1px solid rgb(255, 100, 100);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid var(--input-color);
  -webkit-text-fill-color: var(--text-color);
  transition: background-color 5000s ease-in-out 0s;
}

.enviar__enabled{
  transition: 0.2s;
  transition-delay: 0.1s;
  cursor: pointer;
  opacity: 1;
  border: 0px solid var(--first-color);
}

.enviar__disabled{
  cursor: not-allowed;
  opacity: 0.5;
  border: 0;
}

.enviar__disabled:hover{
  background-color: var(--first-color);
}

#enviar span{
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

.error{
  color: rgb(255, 100, 100);
}

.div__send {
  display: flex;
}

.hidden{
    width: 20px;
    position: absolute;
    visibility: hidden;
}

.exit{
  color: #fff;
  justify-self: center;
  background-color: hsl(142, 100%, 35%);
  border-radius: .5rem;
  padding: 1rem;
}

/* ======================== */
/* ======================== */
/* ======================== */
/* ======================== */
/* ======================== */
/* ======================== */


/*==================================== VARIABLES CSS ====================================*/


.yoIMG{
  border-radius: 90%;
   padding-left: 10%;
   margin: 1% 0% 3% 0%;
}
/* .nav {
  height: calc((--header-height) + 1.5rem);
  column-gap: 1rem;
  color: white;
}
*/
.nav__logo {
  color: black !important;
  font-size:large;
  font-weight: 700;
  padding:  0.2%;
  margin: 0.5%;
  margin-top: 1%;
} 

.nav__link {
  color: white !important;
  font-weight: 900;
}

.nav__icon,
.nav__close,
.nav__toggle {
  display: none;
}

.nav__list {
  display: flex;
  column-gap: 2rem;
}

.nav__menu {
  margin-left: auto;
}


.about__description {
  display: flex;
  margin: 1% 5%;
}

.home__section2 {
  padding: 4rem 1rem 2rem !important;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.navbars{
  display: flex;
  flex-direction: column;
}

.navbarm{
  background-color: lightsteelblue;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

#skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tools {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#web{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#apps{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#contact{
  padding-top: 2%;
  background: beige;
  padding: 5% 0%;
  margin: 2% 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#carrer{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding: 5% 0%;
}
/* #web{

  margin-left: 5%;
margin-right: 5%;
} */

.footerS{
  width: 100%;
    display: flex;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.formContact{
  display: flex;
  flex-direction: column;
  background: beige;
  width: 100%;
  align-items: center;
  margin: 5% 0%;
  padding: 3% 0%;
}
.footer__socials{
  display: flex;
  flex-direction:row;
  margin: 0% 0% 0% 10%; 
  justify-content: space-around;
}
.imgpaint1a {
  width: 95%;
  max-width: 800px;
}

.imgpaint1b {
  display: none;
}

.imgpaint2a {
  width: 95%;
  max-width: 800px;
  padding-left: 5%;
  padding-right: 5%;
}

.imgpaint2b {
  display: none;
}

.cards1 {
     background-color: white !important;
     width: 450px;
     height: 580px !important;
     display: flex;
     flex-direction: column;
     flex-wrap: nowrap;
     /* align-content: space-around; */
     justify-content: center;
     margin-top: 1%;
     margin-bottom: 2%;
     /* margin-left: 40%; */
     align-items: center;
}

.card-body{
  border: solid;
  border-color: black;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 65%);
  height: 580px;
  margin: 2%
}

.imgcards1{
  padding-bottom: 2%;
  height: 244px;
  width: 374px;
  border: solid;
  border: 2px;
  border-color: black;
}

.portfolio__button{
  color: black;
  background-color: aquamarine;
  border-radius: 10%;
  padding: 3%;
  margin: 2%;
  text-align: center;
  justify-items: center;
 width: 180px;
 height: 50px;
}
.portfolio__git-icon{
  color: black;
  background-color: rgb(216, 193, 172);
  border-radius: 10%;
  padding: 3%;
  margin: 1%;
  text-align: center;
  justify-content: center;
  width: 180px;
 height: 50px;
}
.portfolio__links{
  display: flex;
    flex-direction: column;
    align-items: center;
}


.qualification__data{
  display: flex;
    column-gap: 1.5rem;
    justify-content: center;
}

.textQualif{
  margin-top: 8%;
}

.qualification__title{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  margin: 0% 2%;
  width: 150px;
}


.qualification__subtitle{
  display: inline-block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-1);
  margin: 0% 2%;
  width: 150px;
}

.qualification__calendar{
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  margin: 0% 2%;
  width: 150px;
}

.oneRoute{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.linea{
  width: 100%;
  border-bottom: 1px solid black;
  margin: 1%
  
}























/* ======================== */ 
/* ======================== */
/* ======================== */



/*====================================  RESPONSIVE ====================================*/
@media screen and (max-width: 1000px) {
  .navbars{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
  }
  .navbarm{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    width: 50%;
    }
    .nav__logo {
      font-weight: 700;
      font-size: large;
      border: none;
    } 
  
}

@media screen and (max-width: 600px) {
  

  .imgpaint1a {
    display: none;
  }

  .imgpaint1b {
    display: block;
    width: 95%;
  }

  .imgpaint2a {
    display: none
  }

  .imgpaint2b {
    display: block;
    width: 95%;
    padding-left: 3%;
  }
  


.yoIMG{
  width: 90%;
  margin: 3% 3%;
}

}

@media screen and (max-width: 450px) {
  .footerS{
    
    display: flex;
    flex-direction: column;
  }
  .oneRoute{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .linea{
    margin: 4% 
  }
  .navbars{
    display: flex;
    flex-direction: column;
  }
  .navbarm{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    width: 100%;
    }
  .cards1 {
    display:inline;
   margin-right: 2%;
    margin-left: 2%;
    }

  .imgcards1 {
    width: 100%;
  }
}

@media screen and (max-width: 300px) {

  #bodyy{
    /* scale: 0.9; */
  }
  .portfolio__button{
    color: black;
    background-color: aquamarine;
    border-radius: 20%;
    padding: 4%;
    margin: 2%;
  }
  .portfolio__git-icon{
    color: black;
    background-color: rgb(216, 193, 172);
    border-radius: 20%;
    padding: 3%;
    margin: 1%;
  }

  /* .cards1 {
   zoom: 0.9;
    } */

  /* .imgcards1 {
    zoom: 0.85;
    width: 150px;
  } */
}